doctype html
// index.html
// ASSIGN OUR ANGULAR MODULE
html(ng-app='miApp')
    head
        // META
        title= title
        //link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        //Website Font style
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='/json-formatter/dist/json-formatter.css')

        //Google Fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One', type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One',type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen',type='text/css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
        base(href="/")

    body(ng-cloak ng-controller='ctrlPrincipal')
        .container
            .text-center
                .form-group
                    label(for='usr') URL
                    br
                    label(for='usr') Formato: (www.example.com)
                    input#campotexto.form-control(type='text')
                button.btn(ng-click='cargar()') Araña
                br
        json-formatter(align='center', open='0', json='{todos}')
        div(align='center')
            p {{ espera }}

            //p {{todos}}
        // FORM TO CREATE TODOS

    script(src = "https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
    script(src="/dist/app.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
    script(src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js")
    script(src="/json-formatter/dist/json-formatter.js")