.box-one { }

.box-one.ng-hide-add {
	-webkit-animation:0.5s hide;
	animation:0.5s hide;
}

@keyframes hide {
	0% {
		opacity:1;
		transform: scale(1);
	}
	30% {
		transform: scale(1.02);
	}
	100% { 
		opacity:0;
		transform: scale(0.5);
	}
}

@-webkit-keyframes hide {
	0% {
		opacity:1;
		transform: scale(1);
	}
	30% {
		transform: scale(1.02);
	}
	100% { 
		opacity:0;
		transform: scale(0.5);
	}
}


.box-one.ng-hide-remove {
	-webkit-animation:0.3s show;
	animation:0.3s show;
}

@keyframes show {
	0% {
		opacity:0;
		transform: scale(0.5);
	}
	70% {
		transform: scale(1.02);
	}
	100% { 
		opacity:1;
		transform: scale(1);
	}
}

@-webkit-keyframes show {
	0% {
		opacity:0;
		transform: scale(0.5);
	}
	70% {
		transform: scale(1.02);
	}
	100% { 
		opacity:1;
		transform: scale(1);
	}
}